<h1 class="text-center bg-info py-2 text-white sticky-top">Properties_List</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-8 text-center">
            <div class="card mb-4">
                <div class="card-header bg-warning text-white"><h3>Property-List</h3></div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Property-Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of PropertiesList; track $index) {
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.propertyType}}</td>
                                    <td>
                                        <button class="btn btn-primary mx-2" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-warning" (click)="deletePropertyById(item.propertTypeId)">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4  text-center">
            <div class="card mb-4">
                <div class="card-header bg-warning text-white"><h3>Add Properties</h3></div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="from-group">
                            <label for="name">Property-Type</label>
                            <input type="text" formControlName="propertyType" class="form-control" name="propertyType" placeholder="Enter Pincode">
                        </div>
                        @if(form.controls["propertTypeId"].value == 0){
                        <button class="btn btn-primary mt-2" (click)="savePropertyType()">Save</button>
                        }@else {
                        <button class="btn btn-warning mt-2" (click)="updatePropertyType()">Update</button>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>