<h1 class="text-center bg-info py-2 text-white">Properties_List</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-8 text-center">
            <div class="card mb-4">
                <div class="card-header bg-warning">Property-List</div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>S No</th>
                                <th>Property-Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>plot</td>
                                <td>
                                    <button class="btn btn-primary mx-2">Edit</button>
                                    <button class="btn btn-warning">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4  text-center">
            <div class="card mb-4">
                <div class="card-header bg-warning">Add Customer</div>
                <div class="card-body">
                    <form id="CustomerForm">
                        <div class="from-group">
                            <label for="name">Property-Type</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter Pincode">
                        </div>
                        <button class="btn btn-primary mt-2">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>