<h1 class="text-center bg-info py-1 text-white">Booking_List</h1>

<div class="container mt-2">
    <h2 class="text-center mb-4">Site Properties Management</h2>

    <div class="mb-4">
        <label for="siteDropDown" class="form-label">Select Site</label>
        <select name="" id="siteDropDown" class="form-select">
            <option value="" disabled selected>Select a Sites</option>
            <option value="1">1</option>
            <option value="1">2</option>
        </select>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="property-box available">
                <h5>Flot 1</h5>
                <p>1500Sqf E-Facing</p>
                <p>Rate: 5000/-Sqf</p>
                <button class="btn btn-success">Book</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="property-box available">
                <h5>Flot 1</h5>
                <p>1500Sqf E-Facing</p>
                <p>Rate: 5000/-Sqf</p>
                <button class="btn btn-success">Book</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="property-box sold">
                <h5>Flot 1</h5>
                <p>1500Sqf E-Facing</p>
                <p>Rate: 5000/-Sqf</p>
                <button class="btn btn-danger">Book</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="property-box available">
                <h5>Flot 1</h5>
                <p>1500Sqf E-Facing</p>
                <p>Rate: 5000/-Sqf</p>
                <button class="btn btn-success">Book</button>
            </div>
        </div>
    </div>
</div>